@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');

h1{
    color : white;
    margin-top: 15px;
    font-size: 35px;
    font-family: 'Big Shoulders Display' , sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    
}

.attribution{
    margin: 40px 0px 20px 0px ;
}

a{
    text-decoration: none;
}


.content{

    color: white ;
    font-family: "Lexend Deca",sans-serif;
    text-align: left ;
    margin-top: 35px;
    line-height: 1.6;
}

body{

    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 50px 15px 30px 10px;

}

.Sedan{
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
}
.SUV{
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
}
.LUX{
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
}

button{
    width: 120px;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    margin-top: 50px;
    font-family: "Lexend Deca",sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.sedan b{

color: hsl(31, 77%, 52%);

}

.sedan:hover  {

    background-color:hsl(31, 77%, 52%);
 
}

.sedan:hover b {
    color:white;
}

.suv b{

    color:  hsl(184, 100%, 22%);
}

.suv:hover  {

    background-color:hsl(184, 100%, 22%);
 
}

.suv:hover b {
    color:white;
}

.lux b{

    color:  hsl(179, 100%, 13%);
}

.lux:hover  {

    background-color:hsl(179, 100%, 13%);
 
}

.lux:hover b {
    color:white;
}

@media (min-width:374px){

    .flex-container
    {
        max-width: 940px;
        margin:0 auto;
    
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2rem;
    }
    
    .Sedan{
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 10px;
        border-bottom-left-radius:10px;
        padding: 40px;
    }
    .SUV{
        background-color: hsl(184, 100%, 22%);
        padding: 40px;
    }
    .LUX{
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 40px;
    }
}